@model WebApp.Models.Offer.ScoredOfferListViewModel

@{
    ViewBag.Title = "Best offers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h3 class="card-panel red lighten-4">@ViewBag.Title</h3>*@

@foreach (var offerViewModel in Model.ScoredOffersList)
{
    @Html.Partial("_ScoredOfferPartial", offerViewModel.Offer)
}


