@model WebApp.Models.Offer.ScoredOfferListViewModel

@{
    ViewBag.Title = "Best offers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if(!ModelState.IsValid)
{ 
    <div class="card-panel">
        <span class="red-text text-darken-2">@Html.ValidationMessage("FillSkillsMessage")</span>
    </div>
}

@foreach (var offerViewModel in Model.ScoredOffersList)
{
    @Html.Partial("_ScoredOfferPartial", offerViewModel)
}


