body {
    
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding: 20px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select{
    max-width: 280px;
}

.main-content{
    padding-left: 3%;
}

.main-photo{
    display: inline-block;
    width:60%;
    float: left;
    min-width: 250px;

}
.main-photo > img{
    width:100%;
    height: auto;
}

.main-buttons{
    display:inline-block;
    padding: 0 0 20px 0;
    float:right;
    min-width: 270px;
}

.main-buttons a {
   margin: 10px;
}

.buttons-group{
    margin-bottom: 3%;
}

.option-buttons{
    float: right;
}


.hidden{
    display: none;
}

.delete-skill{
    float: right;
    position: relative;
    top: 25px;
}

.range-field {
    position: relative;
    top:25px;
}

.form-part{
    margin-bottom: 10px;
}

.row-profile{
    margin-bottom: 10px;
}
.profile span {
    font-weight:bold;
}

.profile{
    font-size: 15px;
}

.range-field .thumb{
    display: none;
}
.value-field-css{
    position:relative;
    top:30px;
    left: 10px;
    font-weight: 500;
    font-size: 22px;
}

.offer-title span {
    font-weight:bold;
}

.offer-buttons
{
    float:right;
    display:inline-block;
    margin-top:15px;
}

.offer-title
{
    display:inline;
    float:left;
    font-size: 14px;
}
.inline-field
{
    display: inline-block;
}

.skill-list
{
    clear:both;
}

.autocomplete-suggestions { 
    border: 1px solid #999; 
    background: #FFF; 
    overflow: auto; 

}

.autocomplete-suggestion {
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
}

.autocomplete-selected {
    background: #F0F0F0;
}

.autocomplete-group {
    padding: 2px 5px;
}

.autocomplete-group strong {
        display: block;
        border-bottom: 1px solid #000;

}

.small-textBox{
    width: 60px;
    display:inline-block;
}

.form-search-field{
    display:inline-block;
    margin-right: 30px;
}

.big-textBox{
    width: 200px;
    display:inline-block;
}

.offer-title-panel{
    width: 100%;
}

.list-panel{
    padding:0px;
}

.panel-part-left{
    padding: 20px;
    flex-grow:8;
}

.panel-part-right{
    flex-grow:1;
}

span.skill-badge{
    position: relative;
    display:inline-block;
    float: left;
    right: 0;
}

.additional-info{
    border-left: 1px solid rgba(0,0,0,.16);
    height: 90px;
    min-width: 100px;
}

.additional-info-element{
    position:relative;
    top:20px;
    left:10px;
}

.flex-container{
    display: flex;
}

.additional-info-icons{
    float:right;
    padding-right: 8px;
    padding-top: 30px;
}

i.custom-small{
    font-size: 1.8rem;
}

a  {
    color: black;
}

