@model WebApp.Models.RecruiterUser
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


Name: @Model.Name<br/>
Surname: @Model.Surname<br/>
Email: @Model.Email

@using (Html.BeginForm())
{
    @Html.EditorForModel()

    <p>
        <button type="submit" class="btn">Register &raquo;</button>
    </p>
}