@model List<WebApp.Models.Candidate.SkillModel>
@{
    ViewBag.Title = "_SkillsListPartial";
}

<div class="skill-list left">
    @foreach (var skill in Model)
    {
        <div class="inline-field ">
            <span class="badge skill-badge amber lighten-4">
                @skill.Name
                @skill.Level
            </span>
        </div>
    }
</div>



