@model List<WebApp.Models.Candidate.SkillModel>
@{
    ViewBag.Title = "_SkillsListPartial";
}

    <div class="skill-list">
        @foreach (var skill in Model)
        {
            <div class="inline-field">
                <div class="badge skill-badge amber lighten-4">
                    <span>
                        @skill.Name
                        @skill.Level
                    </span>
                </div>
            </div>
        }
    </div>
