
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>@ViewBag.Title as a recruiter</h4>

@using (Html.BeginForm("Login", "Recruiter"))
{
    @Html.EditorForModel()
    <p>
        <button type="submit" class="btn">Login &raquo;</button>
    </p>
}