@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card-panel grey lighten-5" >
    <h4>@ViewBag.Title as a candidate</h4>

    @using (Html.BeginForm("Login", "Candidate"))
    {
        @Html.EditorForModel()
        <p>
            <button type="submit" class="btn">Login &raquo;</button>
        </p>
    }
</div>