@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h4>@ViewBag.Title as a candidate</h4>

@using (Html.BeginForm())
{
    @Html.EditorForModel()

    <p>
        <button type="submit" class="btn">Register &raquo;</button>
    </p>
}